@import '~common/stylus/variable.styl'

.loading-content
  position: absolute
  width: 100%
  top: 50%
  transform: translateZ(-50%)  
  .loading-wrapper
    width: 100%
    text-align: center
    .desc
      line-height: 20px
      font-size: $font-size-small
      color: $color-text-l